.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color:  red;
    font-size: 36px;
}
.link{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 36px;
}
.link:hover{
    font-size: 40px;
    color: lightgreen;
}